<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
</head>
<body>

<div align="center">
    <h1>Create New Prodoct</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${productDTO}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Product Name:</td>
                <td>
                    <input type="text" th:field="*{name}" th:placeholder="product_name" />
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="'error'">Error in Name</label>
                </td>
            </tr>
            <tr>
                <td>Brand</td>
                <td>
                    <input type="text" th:field="*{brand}" th:placeholder="brand_name" />
                    <label th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" th:class="'error'">Error in Brand</label>
                </td>
            </tr>
            <tr>
                <td>Made in:</td>
                <td>
                    <input type="text" th:field="*{madein}" th:placeholder="made_in" />
                    <label th:if="${#fields.hasErrors('madein')}" th:errors="*{madein}" th:class="'error'">Error in Made in</label>
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    <input type="text" th:field="*{price}" th:placeholder="price" />
                    <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:class="'error'">Error in Price</label>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>

        </table>
    </form>

    <a th:href="@{/}">Homepage</a>
    &nbsp; &nbsp;
    <a th:href="@{/viewproduct}">View All Product</a>
</div>

</body>
</html>